*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Arial,sans-serif;
}


.clear-fit{
	display: table;
	clear: both;
}

.wrapper{
	background: #fff;
}
/*HEADER*/


header{
	max-width: 1170px;
	margin: 0 auto;
	padding-bottom: 10px;
	box-shadow: 0px 8px 5px -5px rgba(0,0,0,0.2);
	background: #fff;
}


.sub-header{
	width: 100%;
	height: 63px;
}

.sub-header p{
	float: left;
	line-height: 63px;
	padding-left: 30px;
	font-size: 12px;
	color: #2B2B2B;
}

#logo{
	float: left;
	height: 63px;
}

#logo img{
	height: 63px;
}

#sub-menu{
	float: right;
}

#sub-menu li{
	display: inline-block;
}

#sub-menu li a{
	padding: 0 20px;
	border-left: 1px solid rgba(0,0,0,0.2);
	text-decoration: none;
	color: #2B2B2B;
	font-size: 12px;
	line-height: 63px;
}

#sub-menu span{
	display: inline-block;
	height: 30px;
	width: 30px;
	background: #000;
	color: white;
	line-height: 30px;
	text-align: center;
	margin-left: 10px;
	border-radius: 2px;
	position: relative;
}

#sub-menu span:after{
	content: "";
	width: 10px;
	height: 4px;
	left: 50%;
	top: -20%;
	transform: translateX(-50%);
	position: absolute;
	border-top: 3px solid #606060;
	border-right: 3px solid #606060;
	border-left: 3px solid #606060;
	border-radius: 1px;
}
/**/

.main-header{
	width: 100%;
	height: 38px;
}

#main-menu{
	float: left;
}

#main-menu li{
	display: inline-block;
}

#main-menu li a{
	line-height: 38px;
	padding: 0 20px;
	text-decoration: none;
	color: #2B2B2B;
	border-right: 1px solid rgba(0,0,0,0.2);
	font-weight: 600;
}

#main-menu li:first-child a{
	padding-left: 0px;
}

.main-header input{
	height: 38px;
	width: 122px;
	padding-left: 10px;
	background: url("https://cdn1.iconfinder.com/data/icons/hawcons/32/698627-icon-111-search-512.png") center right no-repeat;
	background-size: 20%;
	border: 2px solid rgba(0,0,0,0.2);
	border-radius: 2px;
	float: right;
}

/*END HEADER*/

/*Content*/

.content-wrapper{
	max-width: 1170px;
	margin: 0 auto;
}

.content-wrapper:after{
	content: "";
	display:block;
	clear: both;
}

.content-wrapper > p{
	font-size: 11px;
	padding: 38px 0 30px 0;
}

.content-wrapper > p span{
	padding: 0 20px;
	display: inline-block;
}

.content-wrapper > p span:first-child{
	padding-left: 0;
}

.content-wrapper h1{
	font-size: 16px;
	text-transform: uppercase;
	padding-bottom: 20px;
}

.content{
	float: left;
	max-width:871px;
}

.post{
	display: inline-block;
	background: #f2f2f2;
	padding: 120px 20px 20px;
	position: relative;
	margin-bottom: 20px;
}

.post > img{
	height: 100px;
	position: absolute;
	top: 0px;
	left: -50px;
	transform: rotate(-45deg);
	z-index: 150;
}


.post-header{
	height: 78px;
	width: 80%;
	background: #fff;
	padding-left: 43px;
	position: absolute;
	top: 20px;
	left: 0;
	font-size: 20px;
	font-weight: 700;
	box-sizing: border-box;
}

.post-header div{
	position: absolute;
	top:50%;
	transform: translateY(-50%);
}

.post-content{
	max-width: 831px;
	background: #fff;
}

.picture{
	width: 100%;
	height: 288px;
	background: url("../images/blank-img-lg.gif");
	background-size: cover;
	background-position: center center;
}

.detail{
	width: 100%;
	padding: 25px 0;
}

.detail:after{
	content: "";
	display: block;
	clear: both;
}

.interaction{
	float: left;
	width: 26%;
}

.interaction ul{
	width: 100%;
	padding: 0 15px;
}

.interaction li{
	list-style: none;
	height: 38px;
	line-height: 38px;
	background: #f8f8f8;
	padding-left: 20px;
	margin-bottom: 2px;
	font-size: 12px;
}

.interaction li i{
	border: 1px solid rgba(0,0,0,0.4);
	height: 15px;
	width: 15px;
	padding: 2.5px 5px;
	border-radius: 3px;
	margin-right: 5px;
}

.status{
	float: left;
	width: 74%;
	padding: 0 20px 0 10px;
	font-size: 12px;
	line-height: 1.5;
}

.btn-readmore{
	width: 126px;
	height: 37px;
	background-color: red;
	line-height: 37px;
	text-align: center;
	text-transform: uppercase;
	font-weight: 800;
	color: white;
	border-radius: 4px;
	margin-top: 20px;
	cursor: pointer;
}

.btn-readmore i{
	font-size: 14px;
	padding-left: 5px;
}

.page-num{
	margin: 0 auto;
	text-align: center;
	padding-bottom: 50px;
}

.page-num li{
	list-style: none;
	display:inline-block;
	border: 2px solid #d7d7d7;
	padding: 0.5em 1em;
	border-radius: 3px;
}

.page-num li:first-child{
	background: red;
	color: white;
	border: 2px solid red;
}

/*SIDE BAR*/

.side-bar{
	float: right;
}


.side-box{
	width: 270px;
	border: 1px solid #d7d7d7;
	border-top: 5px solid #d7d7d7;
	margin-bottom: 20px;
	padding: 25px
}

.side-box p{
	font-size:12px;
}

.side-box li{
	list-style: none;
	font-size: 12px;
	border-bottom: 1px dotted #d7d7d7;
	padding: 1em 0;
}

.side-box li:last-child{
	border-bottom: none;
}

.side-box li:before{
	content:">";
	padding-right: 8px;
}

.side-box > span{
	border: 1px solid #d7d7d7;
	display: inline-block;
	padding: 0.5em 1em;
	font-size: 12px;
	text-transform: capitalize;
	margin: 0 0px 2px 0;

}

/* FOOTER */

footer{
	max-width:1170px;
	display:flex;
	justify-content: space-around;
	margin: 0 auto;
	background: url("../images/megatron.gif") center center;
	background-size: cover;
	padding: 50px 25px;
}

footer p{
	text-transform: uppercase;
	color: white;
}

footer li{
	list-style: none;
}