*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Arial,sans-serif;
}


.clear-fit{
	display: table;
	clear: both;
}

.wrapper{
	background: #fff;
}
/*HEADER*/


header{
	width: 1170px;
	padding: 0 55px;
	margin: 0 auto;
	padding-bottom: 10px;
	box-shadow: 0px 8px 5px -5px rgba(0,0,0,0.2);
	background: #fff;
}


.sub-header{
	width: 100%;
	height: 63px;
}

.sub-header p{
	float: left;
	line-height: 63px;
	padding-left: 30px;
	font-size: 12px;
	color: #2B2B2B;
}

#logo{
	float: left;
	height: 63px;
}

#logo img{
	height: 63px;
}

#sub-menu{
	float: right;
}

#sub-menu li{
	display: inline-block;
}

#sub-menu li a{
	padding: 0 20px;
	border-left: 1px solid rgba(0,0,0,0.2);
	text-decoration: none;
	color: #2B2B2B;
	font-size: 12px;
	line-height: 63px;
}

#sub-menu span{
	display: inline-block;
	height: 30px;
	width: 30px;
	background: #000;
	color: white;
	line-height: 30px;
	text-align: center;
	margin-left: 10px;
	border-radius: 2px;
	position: relative;
}

#sub-menu span:after{
	content: "";
	width: 10px;
	height: 4px;
	left: 50%;
	top: -20%;
	transform: translateX(-50%);
	position: absolute;
	border-top: 3px solid #606060;
	border-right: 3px solid #606060;
	border-left: 3px solid #606060;
	border-radius: 1px;
}
/**/

.main-header{
	width: 100%;
	height: 38px;
}

#main-menu{
	float: left;
}

#main-menu li{
	display: inline-block;
}

#main-menu li a{
	line-height: 38px;
	padding: 0 20px;
	text-decoration: none;
	color: #2B2B2B;
	border-right: 1px solid rgba(0,0,0,0.2);
	font-weight: 600;
}

#main-menu li:first-child a{
	padding-left: 0px;
}

.main-header input{
	height: 38px;
	width: 122px;
	padding-left: 10px;
	background: url("https://cdn1.iconfinder.com/data/icons/hawcons/32/698627-icon-111-search-512.png") center right no-repeat;
	background-size: 20%;
	border: 2px solid rgba(0,0,0,0.2);
	border-radius: 2px;
	float: right;
}

/*END HEADER*/

/*Content*/

.content-wrapper{
	width: 1170px;
	padding: 0 55px;
	margin: 0 auto;
}

.content-wrapper > p{
	font-size: 11px;
	margin: 38px 0 30px 0;
}

.content-wrapper > p span{
	padding: 0 20px;
	display: inline-block;
}

.content-wrapper > p span:first-child{
	padding-left: 0;
}

.content-wrapper h1{
	font-size: 14px;
	text-transform: uppercase;
	padding-bottom: 20px;
}

.content{
	width: 870px;
	height: 870px;
	background: #f2f2f2;
}


